frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.pnp
frontend/coverage
frontend/.pnp.js
frontend/yarn-error.log*
frontend/yarn-debug.log*
frontend/yarn-debug.log*

backend/.venv/
backend/.env
backend/.env.local
backend/app/logs/
backend/app/temp_*/
backend/app/**/__pycache__/
backend/app/**/*.pyc
backend/ocr_debug_output/
backend/ocr_debug2_output/
PRE_PUSH_CHECKLIST.md

*.pyc
